@use "index";

.header{
    display: flex;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    align-items: center;
    font-weight: 900;
    font-size: 32px;
    font-family: "Inter";
    .logo{
        display: flex;
        margin-right: 43px;
        p:first-child{
            color: index.$primary-color;
        }
    }
    .ham-icon{
        display: none;
    }
    .search{
        display: flex;
        align-items: center;
        width: 575px;
        position: relative;
        box-shadow: 0px 1px 2px -1px #C8CAD1;
        background: white;
        border-radius: 10px;
        padding: 15px 100px 15px 50px;
        .search-icon{
            position: absolute;
            top: 5px;
            left: 15px;
        }
        input{  
            border: none;
            width: 100%;
            font-size: 15px;
            font-family: "Inter";
        }
        input:focus{
            outline: none;
        }
    }
}
.search-button{
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 5px;
    width: 95px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background: index.$primary-color;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: index.$font-bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 375px) {
    .header {
      width: 375px;
      flex-direction: column;
      font-size: 24px;
      margin-top: 0;
      border: none;
      .phone-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .ham-icon{
            display: block;
        }
      }
      .search{
        width: 293px;
        padding: 15px 10px 15px 40px;
        .search-icon{
            margin-top: 7px;
        }
      }
    }
  }