$font-bold: InterV_Bold;
$font-medium: InterV_Medium;
$font-semi: InterV_Semi;
$primary-color: #BB1E1E;
$secondary-color: #1D1D1B;

@font-face {
    font-family: InterV_Bold;
    src: url("../../Inter/Inter-Bold.otf");
}

@font-face {
    font-family: InterV_Medium;
    src: url("../../Inter/Inter-Medium.otf");
}

@font-face {
    font-family: InterV_Semi;
    src: url("../../Inter/Inter-SemiBold.otf");
}

body{
    margin: 0;
    background: #F2F2F2;
    overflow-x: hidden;
}
.layout{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content{
    display: flex;
    width: 1095px;
    margin-top: 24px;
    position: relative;
}   
@media (max-width: 375px) {
    .content{
        width: auto;
        flex-direction: column;
    }
    .hide-phone{
        display: none;
    }
  }