@use "index";

.latest-news{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 291px;
    margin-top: -275px;
    margin-right: 14px;
    height: 515px;
    border-radius: 8px;
    padding: 0 15px 15px 15px;
    z-index: 5;
    background: white;
    .latest-articles{
        width: 100%;
        height: 429px;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 15px;
        label{
            font-family: index.$font-bold;
            font-size: 10px;
            margin-bottom: 4px;
            color: #1E71BB;
        }
    }
    .latest-articles::-webkit-scrollbar{
        background: white;
        width: 4px;
        height: 1px;
    }
    .latest-articles::-webkit-scrollbar-thumb {
        width: 4px;
        height: 2px;
        background: gray;
        border-radius: 10px;
      }
    .latest-article{
        padding: 13px 0 13px 0;
        border-bottom: 1px solid #F4F5F8;
        background: "white";
        display: flex;
        .circle{
            position: relative;
            display: flex;
            margin-right: 10px;
            .large-circle{
                background-color: index.$primary-color;
                animation-name: circle;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                width: 20px;
                height: 20px;
                border-radius: 100%;
            }
            .middle-circle{
                background-color: index.$primary-color;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
        p{
            font-family: index.$font-medium;
            font-size: 16px;
            margin: 0;
        }
        .latest-title{
            text-decoration: none;
            font-family: index.$font-medium;
            font-size: 16px;
            margin: 0;
            color: black;
        }
    }
    .all-news{
        height: 51px;
        border-top: 1px solid #F4F5F8;
        display: flex;
        align-items: center;
        background: white;
        position: absolute;
        width: 100%;
        z-index: 10;
        margin-left: -15px;
        border-radius: 0 0 10px 10px;
        bottom: 0;
        p{
            cursor: pointer;
            font-family: index.$font-medium;
            font-size: 14px;
            color: #1E71BB;
            padding: 15px;
        }
    }
}
@keyframes circle {
    0% {opacity: 0.24;}
    50% {opacity: 0.54;}
    100% {opacity: 0.24;}
  }

  @media (max-width: "375px") {
    .latest-news{
        position: relative;
        top: 0;
        left: 0;
        margin: 16px 0 74px 0;
    }
    .all-news{
        width: 100%;
        bottom: 0;
        left: 15px;
    }
  }