@use 'index';

.nav-bar{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background: index.$primary-color;
    align-items: center;
    transition: ease-in-out 500ms;
    .nav-text{
        color: white;
        display: flex;
        align-items: center;
        font-family: index.$font-bold;
        .first-text{
            font-size: 16px;
            letter-spacing: -0.14px;
            margin-right: 46px;
        }
        .second-text{
            font-size: 14px;
            letter-spacing: -0.12px;
        }
    }
    .nav-buttons{
        display: flex;
        .first-button{
            font-family: index.$font-bold;
            width: 69px;
            height: 40px;
            border: none;
            border-radius: 8px;
            font-size: 14px;
            text-transform: uppercase;
            color: index.$secondary-color;
            background-color: white;
            margin: 9px 24px 11px 0;
            cursor: pointer;
        }
        .second-button{
            font-family: index.$font-bold;
            background-color: inherit;
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}

@media (max-width: 375px) {
    .nav-bar{
        display: none;
    }
  }